.col-6{
    background-color: aqua;
}
.col-5{
    background-color: rgb(215, 131, 12);
}
.col-4{
    background-color: rgb(93, 237, 10);
}
.col-3{
    background-color: rgb(247, 13, 212);
}
.col-2{
    background-color: rgb(36, 113, 237);
}