h1{
    width: 200px;
    background-color: aqua;
    color: rgb(195, 206, 216);
    text-align: center;
    padding: 50px;
    animation-name: sreedhar;
    animation-duration: 5s;
    animation-delay: 5;
    animation-direction: alternate-reverse;
    position: relative;
    animation-iteration-count: 4;
}
h2{
    width: 200px;
    background-color: rgb(129, 147, 147);
    color: aliceblue;
    text-align: center;
    padding: 50px;
    animation-name: sreedhar;
    animation-duration: 5s;
    position: relative;
    animation-direction: alternate-reverse;
    animation-iteration-count: 4;
}
h3{
        width: 200px;
        background-color: rgb(0, 255, 17);
        color: rgb(19, 20, 21);
        text-align: center;
        padding: 50px;
        animation-name: sreedhar;
        animation-duration: 5s;
        position: relative;
        animation-direction: alternate-reverse;
        animation-iteration-count: 4;
}

@keyframes sreedhar{
    0% {
        text-align: center;
        background-color: aliceblue;
        color: black;
        left:0px;
        top:200px;
        
    }
    25%{
        text-align: center;
        background-color: rgb(4, 15, 24);
        color: rgb(243, 242, 242);
        left:1000px;
        top:0px;
        
    }
    50% {
        text-align: center;
        background-color: rgb(78, 171, 248);
        color: rgb(213, 21, 21);
        left:100px;
        top:0px;
    
    }
    75%{
        text-align: center;
        background-color: rgb(211, 15, 201);
        color: rgb(30, 14, 209);
        left:0px;
        top:200px;
        
    }
    100% {
        text-align: center;
        background-color: rgba(49, 216, 12, 0.81);
        color: rgb(243, 242, 242);
        left:1000px;
        top:200px;
    
    }
}
    
